html {
  font-size: 50px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-hover-effect:hover {
    background-color: #6c757d !important;
    color: white !important;
    cursor: pointer; /* Optional: Changes the cursor on hover to indicate an action can be taken */
}

.card-hover-effect:hover .card-text,
.card-hover-effect:hover .card-title {
    color: white !important;
}